$small: "768px";
$medume: "992px";
.swiper-container {
  margin: auto;
}
.transparent_style {
  /* position: absolute;
    top: 216px;
    right: 80px; */
  width: 400px;
  height: auto;
}

.img_style {
  /* position: absolute;
  top: 87px; */
  width: 550px;
  height: auto;
}
/* .MuiButton-root {
  font-family: irfont !important;
} */
.dv_filter {
  margin: auto !important;
}

.btn_filter {
  margin: 10px !important;
  background-color: #3e206d !important;
  border-radius: 20px !important;
  color: white !important;
}

.underline_home {
  background-color: #3e206d;
  height: 1px;
}

.brand_style {
  margin: 30px;
  max-width: 100%;
  width: 75px;
}
.banner_medium {
  width: 90%;
  height: auto;
  padding-top: 30px;
}
.slider_home {
  width: 100% !important;
  height: auto !important;
}
@media screen and (max-width: $small) {
  .banner_medium {
    width: 90%;
    height: auto;
    padding-top: 10px;
  }
  .swiper-container {
    margin-top: 20px;
  }
}
