@import "variable";
.swiper-container {
  margin: auto;
}
.transparent_style {
  /* position: absolute;
    top: 216px;
    right: 80px; */
  width: 400px;
  height: auto;
}

.img_style {
  /* position: absolute;
  top: 87px; */
  width: 550px;
  height: auto;
}

.brand_style {
  margin: 20px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  background-color: $white;
}
.banner_medium {
  width: 90%;
  height: auto;
  padding-top: 30px;
}
.slider_home {
  width: 100% !important;
  height: auto !important;
}
.dv_sale_time {
  width: 50px;
  height: 50px;
  color: $white;
  font-size: 28px;
  font-family: irfontbold;
  background-color: #db2e20;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  line-height: 50px;
}
.dot_sale_time {
  font-size: 28px;
  color: #db2e20;
  font-weight: 700;
  align-self: center;
}
.title_sale_time {
  align-self: center;
  color: #db2e20 !important;
}
.background_grey {
  background-color: $greylite;
  border-radius: 10px;
}
.text_contact_us {
  color: $grey !important;
}
.title_information {
  margin-bottom: 20px !important;
}
// .MuiGrid-spacing-xs-10 {
//   margin: 0px !important;
//   width: 100% !important;
// }
@media screen and (max-width: $medium) {
  .banner_medium {
    width: 90%;
    height: auto;
    padding-top: 10px;
  }
  .swiper-container {
    margin-top: 20px;
  }
  .dv_sale_time {
    width: 22px;
    height: 22px;
    font-size: 16px;
    border-radius: 10px;
    margin: 5px;
    border-radius: 2px;
    line-height: 22px;
  }
  .dot_sale_time {
    font-size: 16px;
    font-weight: 500;
  }
  .brand_style {
    height: 50px;
    margin: 0px;
    border-radius: 5px;
  }
  .circle_background_white {
    width: 32px;
    height: 32px;
    background-color: $white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
