@import "variable";
.size_dv_style {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #797878;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
}
.dv_slider_price {
  width: 70%;
  height: 40px;
  float: right;
  border: 1px solid #5c5b5b;
  border-radius: 10px;
  background-color: #e7e7e7;
  margin-right: 10px;
  margin-top: 10px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #3e206d;
}
.dv_color_product {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: auto;
  border: 1px solid #898989;
}
.link_dv_size {
  text-decoration: none !important;
  color: #797878 !important;
  float: right;
  margin: 10px !important;
}
.title_range_price {
  float: right !important;
  line-height: 70px !important;
}
.top_btn_shop {
  margin-top: 70px !important;
  margin-bottom: 20px !important;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #898989;
}
.title_filter {
  margin-bottom: 10px !important;
}
.MuiPagination-root {
  flex-direction: row-reverse;
}
.MuiPaginationItem-page.Mui-selected {
  // background-color: aqua;
}
@media screen and (max-width: $medium) {
  .MuiPagination-ul {
    justify-content: center !important;
  }
}
